{{#gh-app showSettingsMenu=ui.showSettingsMenu}}
    {{#gh-skip-link anchor=".gh-main"}}Skip to main content{{/gh-skip-link}}

    {{gh-alerts}}

    <div class="gh-viewport {{if ui.showSettingsMenu 'settings-menu-expanded'}} {{if ui.showMobileMenu 'mobile-menu-expanded'}}">
        {{#if showNavMenu}}
            {{gh-nav-menu
                icon=settings.settledIcon
            }}
        {{/if}}

        <main class="gh-main" role="main">
            <div class="gh-outlet-container">
                {{#if showNavMenu}}
                    <div class="pa3 pr7 flex justify-between items-center mb10 bb b--lightgrey">
                        <div class="lightgrey-d2 flex items-center pa2 pl3" style="width: 280px;">{{svg-jar "search" class="w4 h4 fill-lightgrey-d2 mr2"}} <span class="f6">Search...</span></div>
                        <div>
                            <div class="w9 h9 br-pill bg-whitegrey"></div>
                        </div>
                    </div>
                {{/if}}

                {{outlet}}
            </div>
        </main>

        {{gh-notifications}}

        {{gh-content-cover}}

        {{gh-mobile-nav-bar}}
    </div>{{!gh-viewport}}
{{/gh-app}}

{{ember-load-remover}}
